aip上传文档 (2).json
{
  "name": "aip上传文档",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 800,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -368,
        608
      ],
      "id": "9234ad68-75b4-4bc9-a074-3b7495a45caf",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "3Ip6b5mzk9YObmye",
          "name": "Supabase aip"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        832
      ],
      "id": "efd8cf8c-9c59-44f1-8b74-bc87728eba42",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "C3YO2hHavXorqcdJ",
          "name": "Aixue pro"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "project_id",
                "value": "={{ $('Webhook').item.json.body.project_id }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Webhook').item.json.body.user_id }}"
              },
              {
                "name": "title",
                "value": "={{ $('Webhook').item.json.body.title }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -224,
        768
      ],
      "id": "ffac48d6-0ac5-42e0-bfae-830f7882b943",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -224,
        928
      ],
      "id": "78605127-ffdf-4845-95a4-b55bccf5df34",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-document",
        "responseMode": "lastNode",
        "responseData": "firstEntryBinary",
        "responseBinaryPropertyName": "file",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -688,
        608
      ],
      "id": "19b113a9-c39e-4c08-8962-fe8d4e5eb439",
      "name": "Webhook",
      "webhookId": "50a73b4f-34b3-4e80-b9c8-dc7b4413afa0"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "773540c2-c311-4dc4-8cb5-453aad0d990e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f778c37f32963d7908a07cd31451cf3b9dce1062b27726239599616e02e8a30"
  },
  "id": "OUUVsLDkyE83U1rg",
  "tags": []
}